
aside, footer, header, nav, section { display:block; }

body {
    background-color: white;
	width:940px;
	margin:0 auto;
    font-size:16px;
    font-family:'Pontano Sans', sans-serif;
}

pre {
    background-color: #F8F8F8;
    border: 1px solid #CCC;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}


h1, h2 {
    font-family:'Source Sans Pro', sans-serif;
    color:#cc6600;
    padding-top:15px;
}

#content #pre-stylish code {
 display: block;
 padding: 0.5em 1em;
 border: 1px solid #bebab0;
}

.email {
    font-family: monospace;
}


header#masthead {
    margin:0;
    padding:20px 0;
    border-bottom:1px solid;
    font-size:22px;
}

header#masthead img {
    vertical-align:middle;
}

footer#mastfoot {
    width:940px;
    overflow:auto;
    margin:0 auto 60px auto;
    font-size:12px;
    border-top:1px solid;
}

footer#mastfoot img {
    vertical-align:middle;
}

nav#global {
    display:inline;
    font-size:22px;
    letter-spacing:1px;
}

#name {
    font-weight:bold;
}


#affiliations {
    font-size:12px;
    font-weight:normal;
    margin:0;
    padding:0;
    list-style:none;
}

#content {
    float:left;
    width:740px;
    margin:0 0 35px 0;
    text-align:left;
}

#content section {
    margin:0 45px 15px 0;
    padding:0;
}

#content section:last-child {
    margin:0 45px 0 0;
    padding:0;
}

#content section h1 {
    font-size:22px;
    font-weight:normal;
}

#content section h2 {
    font-size:16px;
    font-weight:normal;
    margin-left:20px;
    margin-top:0px;
    padding-top:0px;
}

#sidebar {
    float:right;
    width:200px;
    text-align:left;
    margin:0 0 35px 0;
    font-size:12px;
}

#sidebar ul {
    margin:0;
    padding:0;
    list-style:none;
}

#sidebar li {
    padding:0 0 5px 0;
}

#sidebar li:last-child {
    padding:0;
}

#content li {
    padding-bottom:5px;
}

#awardslist li {
    list-style:none;
} 